<div class="card-wrap">
  <div class="card d-flex flex-row justify-content-between">
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <div class="card-title">
          <h1>{{ regTest.regulationsTestId }}</h1>
        </div>
        <div class="card-subtitle">
          {{ regTest.dateStart + "Z" | date: "medium" }}, {{ regTest.location }}
        </div>
        <div class="card-text">
          <div>Examiner: {{ regTest.examiner.username }}</div>
        </div>
      </div>
      <div class="card-bottom">
        <b>{{ regTest.studentRegulationsTest.length }}</b> students assigned
      </div>
    </div>
    <div
      
      class="card-side d-flex flex-column"
    >
      <div class="btn">
        <i
          class="fa text-danger fas fa-trash"
          data-toggle="tooltip"
          data-placement="left"
          title="Delete test"
          (click)="onDeleteTest(regTest.regulationsTestId)"
        ></i>
      </div>
      <div class="btn">
        <i
        *ngIf="checkTestDate(regTest.dateStart)"
          class="fa fas fa-user-plus"
          data-toggle="tooltip"
          data-placement="left"
          title="Add Students"
          (click)="onAddStudentsClick()"
        ></i>
      </div>
      <div class="btn">
        <i
        *ngIf="checkTestDate(regTest.dateStart)"
          (click)="onEditTest(regTest.regulationsTestId)"
          class="fa fas fa-edit"
          data-toggle="tooltip"
          data-placement="left"
          title="Edit Test"
        ></i>
      </div>
      <div class="btn">
        <i
          class="fa fas text-success fa-check"
          data-toggle="tooltip"
          data-placement="left"
          (click)="onScoreClicks()"
          title="Test Scores"
        ></i>
      </div>
    </div>
  </div>
</div>
