<nav class="navbar navbar-light bg-light">
  <div class="navbar-brand">Driving School</div>
  <ul *ngIf="(accountService.currentUser$ | async)" class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/members">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="accountService.logout()">Logout</a>
    </li>
  </ul>
  <ul *ngIf="!(accountService.currentUser$ | async)" class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/register">Register</a>
    </li>
  </ul>
  <div *ngIf="!(accountService.currentUser$ | async)">
  <form (ngSubmit)="login()" class="form-inline my-2 my-lg-0">
    <input
      class="form-control mr-sm-2"
      type="text"
      name="username"
      placeholder="Username"
      [(ngModel)]="model.username"
    />
    <input
      class="form-control mr-sm-2"
      type="password"
      name="password"
      placeholder="Password"
      [(ngModel)]="model.password"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Login
    </button>
  </form>
</div>
</nav>
